<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="beamoflight.sportintheforest">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >



        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TabsActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.TABS" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UsersActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.USERS" />
            </intent-filter>
        </activity>

        <activity
            android:name=".KnowledgeActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.KNOWLEDGE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UserExercisesActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.USER_EXERCISES" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ExercisesActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.EXERCISES" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LocationPositionsActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.NPCS" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.SETTINGS" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CompetitionActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.COMPETITION" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CompetitionViewerActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.COMPETITION_VIEWER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MyStatShadowsActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MY_STAT_SHADOWS" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PlayerExpActivity"
            android:screenOrientation="landscape"
            >
            <intent-filter>
                <action android:name="android.intent.action.PLAYER_EXP" />
            </intent-filter>
        </activity>
    </application>

</manifest>